<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Basket Template</title>
</head>
<body>
    <section class="basket basket-wraper">
        <div class="basket-header">
            <strong>Корзина</strong>
            <button class="btnClearBasket">Очистить корзину</button>
        </div>
        <ul class="basket__items shopping-list">
            <li class="shopping-list__item"><span class="name">Шорты</span> <span class="price">10 р.</span> <span class="diskont">9 р.</span></li>
            <li class="shopping-list__item"><span class="name">Шорты</span> <span class="price">10 р.</span> <span class="diskont">9 р.</span></li>
            <li class="shopping-list__item"><span class="name">Шорты</span> <span class="price">10 р.</span> <span class="diskont">9 р.</span></li>
            <li class="shopping-list__item"><span class="name">Шорты</span> <span class="price">10 р.</span> <span class="diskont">9 р.</span></li>
        </ul>
        <div class="basket__items total-price"><strong>Итого: <span class="total">36</span> р.</strong></div>
    </section>
    <script src="./script.js"></script>
</body>
</html>