@charset "UTF-8";
.slider {
  min-height: 200px;
  border-radius: 15px;
}

._wrapper {
  margin: 10px auto;
  max-width: 1650px;
}

.header {
  display: flex;
  gap: 20px;
}
.header button {
  background-color: hsl(0deg, 0%, 60%);
  min-width: 8ch;
  flex-grow: 0;
  border-radius: 0.8rem;
  padding: 0 0.8rem;
  transition: all 0.2s;
}
.header button:hover {
  background-color: hsl(0deg, 0%, 75%);
}
.header button:active {
  background-color: hsl(0deg, 0%, 45%);
}
.header input {
  flex-grow: 2;
  border-radius: 0.8rem;
  padding: 0 0.8rem;
  text-align: center;
}
.header dialog {
  transition: all 0.2s;
  border-style: none;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px hsla(0deg, 0%, 10%, 0.5);
}
.header dialog::backdrop {
  background-color: hsl(0deg, 0%, 1%);
  opacity: 0.2;
}
.header .dialog {
  padding: 0.5rem;
}
.header .dialog-wrapper {
  padding: 1rem;
}

.slider {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods-aera {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.goods-aera .goods-card {
  width: 180px;
  height: 240px;
  position: relative;
  margin-bottom: 6em;
}
.goods-aera .goods-card .goods-card--img {
  position: relative;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.goods-aera .goods-card .card-button {
  position: absolute;
  width: 70%;
  left: 0;
  bottom: 70px;
  border-radius: 15px;
  padding: 0.5em;
  margin: 15%;
  transition: 0.2s;
  opacity: 0.8;
  visibility: hidden;
  border-color: grey;
}
.goods-aera .goods-card .card-button:hover {
  opacity: 1;
  visibility: visible;
}
.goods-aera .goods-card .goods-card--img:hover + .card-button {
  visibility: visible;
}
.goods-aera .goods-card .goods-card--pricing {
  position: relative;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.goods-aera .goods-card .goods-card--pricing {
  display: flex;
}
.goods-aera .goods-card .price {
  text-decoration: line-through;
  color: grey;
  margin-right: auto;
}
.goods-aera .goods-card .user-price {
  margin-left: auto;
}
.goods-aera .goods-card .diskont {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.goods-aera .goods-card .goods-card--image-info {
  margin-bottom: -3em;
}
.goods-aera .goods-card .goods-card-busket-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-width: 1px;
  transition: 0.4s;
}
.goods-aera .goods-card .goods-card-busket-button::after {
  width: 70px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: "Добавить в корзину";
  margin-top: 0px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  bottom: -5px;
  left: 35px;
  visibility: hidden;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.goods-aera .goods-card .goods-card-busket-button:hover::after {
  visibility: visible;
  opacity: 1;
}
.goods-aera .goods-card .goods-card-busket-button:hover {
  background-color: blue;
}
.goods-aera .goods-card .goods-card-busket-button:active {
  background-color: aqua;
}

#modalBasket ul {
  list-style-type: none;
}
#modalBasket .basket-wraper {
  background-color: white;
  border-radius: 20px;
  max-width: 300px;
}
#modalBasket .basket-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}
#modalBasket .btnClearBasket {
  min-width: 80px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 1px;
  background: #d74646;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
#modalBasket .btnClearBasket:hover {
  background: #aa1d1d;
}
#modalBasket .btnClearBasket:focus {
  outline: none;
  box-shadow: 0 0 0 1px #dcb4f7;
}
#modalBasket .shopping-list {
  padding-left: 0;
}
#modalBasket .total-price {
  border-top: 1px solid gray;
  padding-top: 1rem;
  font-size: 1.2rem;
  text-align: right;
}
#modalBasket .price {
  color: gray;
  text-decoration: line-through;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */